/*
Navigation nav
*/
nav{
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

/*
Navigation items
*/
.nav-item a, .nav-item-2 a{
  text-size-adjust: 100%; 
  cursor: pointer;
  user-select: auto;
  font-size: 1.0rem;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: gray !important;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  overflow: hidden !important;
}

/*
Navigation item hover
*/
.nav-item a:hover, .nav-item-2 a:hover{
  color: rgb(255, 255, 255) !important;
  border-radius: 8px !important;
}

.info{
  text-align: center;
  padding: 100px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  background-image: url("assets/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info h1, .content h1{
  font-size: 1.8rem;
  font-weight: bold;
}

.info button{
  background-color: #ecaf3c !important;
}

.info button:hover, .content button:hover{
  color: #000000 !important;
}

.content button{
  background-color: #7289da !important;
}

.info button, .content button{
  border: medium;
  border-radius: 8px;
}

.content{
  text-align: center;
  padding: 100px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #23272a;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content p{
  font-size: 0.900rem;

}

.content h2{
  font-weight: 400;
}

.bottom-footer{
  background: linear-gradient(rgb(23, 23, 24), rgb(35, 36, 37), rgb(44, 44, 46));
  color: white;
  width: 100%;
}

.bottom-footer footer{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-footer h5{
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.0;
  font-size: 1rem;
  font-weight: 200;
}

.bottom-footer a{
  color: #8c8c8c;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0.4rem;
  line-height: 1.0;
  font-size: 0.900rem;
  font-weight: 200;
}

.bottom-footer p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #8c8c8c;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0.4rem;
  line-height: 1.0;
  font-size: 0.900rem;
  font-weight: 200;
}

.bottom-footer a:hover{
  color: #ecaf3c !important;
  border-radius: 8px !important;
}