body{
  background-image: url("../assets/footer.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
Navigation nav
*/
nav{
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

/*
Navigation items
*/
.nav-item a, .nav-item-2 a{
  text-size-adjust: 100%; 
  cursor: pointer;
  user-select: auto;
  font-size: 1.0rem;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: gray !important;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  overflow: hidden !important;
}

/*
Navigation item hover
*/
.nav-item a:hover, .nav-item-2 a:hover{
  color: rgb(255, 255, 255) !important;
  border-radius: 8px !important;
}

.info{
  text-align: center;
  padding: 100px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.info p{
  font-size: 1.4rem;
  font-weight: bold;
}

.info h1{
  font-size: 2.2rem;
  font-weight: bold;
}

.info button:hover{
  color: #000000 !important;
}

.info button{
  border: medium;
  border-radius: 8px;
}